*, *::before, *::after {
    box-sizing: border-box;
    font-family: 'Mukta', sans-serif;
    /* background-color: #202020; */
}

.container {
    display: grid;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
}

.menu-section {
    display: grid;
    margin: 5vh;
    height: 100vh;
    width: 80vw;
    background-color: white; 
    grid-template-columns: 100%;
    grid-template-rows: 20% 3% auto 3% 10%;
    grid-template-areas: "hd"
                         "."
                         "cont"
                         "."
                         "ft";
}


/************** view **************/

#menu-view {                
    margin-top: 3%;
    background-color: white;
}

.menu-view-section {
    display: grid;
    justify-content: center;
    align-items: center;
    background-color: white;
    margin-bottom: 0;
    padding: 0;
}

#view-header {
    grid-area: hd;
} 

#view-content {
    
    grid-area: cont;
}



#view-footer {
    grid-area: ft;
}


/************* first *************/  

#first-selection {                
    margin-top: 3%;
}

.menu-first-section {
    display: grid;
    justify-content: center;
    align-items: center;
    background-color: white;
    margin-bottom: 0;
    padding: 0;
}

#first-header {
    grid-area: hd;
} 

#first-content {
    grid-area: cont;
}

#first-footer {
    grid-area: ft;
}

#menu-title {
    font-family: 'MyWebFont', Arial, sans-serif;
}


/************* second *************/

#second-selection {                  
    margin-top: 3%;
}

.menu-second-section {
    display: grid;
    justify-content: center;
    align-items: center;
    background-color: white;
    margin-bottom: 0;
    padding: 0;
}

#second-header {
    grid-area: hd;
} 

#second-content {
    grid-area: cont;
}

#second-footer {
    grid-area: ft;
}


/************* dessert *************/

#dessert-selection {                  
    margin-top: 3%;
}

.menu-dessert-section {
    display: grid;
    justify-content: center;
    align-items: center;
    background-color: white;
    margin-bottom: 0;
    padding: 0;
}

#dessert-header {
    grid-area: hd;
} 

#dessert-content {
    grid-area: cont;
}

#dessert-footer {
    grid-area: ft;
}


/************* drinks *************/

#drinks-selection {                  
    margin-top: 3%;
}

.menu-drinks-section {
    display: grid;
    justify-content: center;
    align-items: center;
    background-color: white;
    margin-bottom: 0;
    padding: 0;
}

#drinks-header {
    grid-area: hd;
} 

#drinks-content {
    grid-area: cont;
}

#drinks-footer {
    grid-area: ft;
}


/************* confirm *************/

#confirm-selection {   
    margin-top: 3%;   
}

#confirm-header {
    grid-area: hd;
} 

#confirm-content {
    grid-area: cont;
}

#confirm-footer {
    grid-area: ft;
}



#first-selection {
    background-color: white;
}

#second-selection {
    background-color: white;
}

#dessert-selection {
    background-color: white;
}

#drinks-selection {
    background-color: white;
}

#confirm-selection {
    background-color: white;
}

