.list-name {
    background-color: #f8f9fa; 
    border: none;
}

html, body {
    min-height: 100%;
}

#menu-container {
    margin: 0;
    min-height: 100%;
}

#header {
    margin-top: 2%;
}

#button {
    margin-bottom: 3%;
} 

#footer {
    padding: 5% 2%;
}

#hd-container {
    padding-left: 2%;
    padding-top: 2%;
}

@media only screen and (max-width: 600px) {
    #header {
        margin-top: 25%;
    }

    #button {
        margin-bottom: 10%;
    } 

    #footer {
        padding: 15% 5%;
    }

    #hd-container {
        padding-left: 5%;
    }
} 