.list-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#header {
    margin-top: 2%;
}

#button {
    margin-bottom: 3%;
}

#footer {
    padding: 5% 2%;
}

@media only screen and (max-width: 600px) {
    #header {
        margin-top: 25%;
    }

    #button {
        margin-bottom: 10%;
    }

    #footer {
        padding: 15% 5%;
    } 
} 